div {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 100%;
    background-image: url("../oo6 emmet/puppy.jpg");
}

img {
    border: 10px groove orangered;
}

.dog1{
    border: 10px dashed orangered;
}

.dog2{
    border: 10px dotted darkblue;
}

.dogg{
    border: 30px dot-dash darkgreen;
}